* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body {
    background-color: #3535c5;
    color: white;
}
h1 {
    background-color: #c3c7ff;
    color: #000000;
    border: solid black 2px;
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0, .7) 0px 0px 20px 1px;
    margin: left;
    width: 40%;
    padding: 10px;
    text-align: center;
}
div {
    background-color: #c3c7ff;
    color: black;
    border: solid black 2px;
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0, .7) 0px 0px 20px 1px;
    margin: left;
    width: 40%;
    padding: 5px;
    text-align: left;
}
input {
    width: 100%;
    height: fit-content;
    max-width: auto;
}
textarea {
    width: 100%;
    overflow-y: scroll;
    height: 100px;
    resize: none;
}
form {
    background-color: #c3c7ff;
    color: black;
    border: solid black 2px;
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0, .7) 0px 0px 20px 1px;
    margin: right auto;
    width: 40%;
    padding: 5px;
    text-align: center;
}

form button {
    background-color: #3535c5;
    color: white;
    border: black 5px;
    border-radius: 3px;
    margin: 15px auto;
    height: 50px;
    width: 25% auto;
}
img {
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    width: 55%;
    top: 50px;
    right: 10px;
}