<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSU Poster Demo Plus - Judge a Poster</title>
    <link rel="stylesheet" href="{{url_for('static', filename='judge_style.css')}}">
</head>
<body>

    <a href="{{url_for('index')}}">
        <button>
            Logout
        </button>
    </a>

    <h1>Poster Judging</h1>

    {% block content %}
    <div>
        <label for="title"><b>Title:</b></label>
        <br>
        <input type="text" id="title" name="title" value="{{poster['poster_title']}}" readonly><br><br>

        <label for="category"><b>Category:</b></label>
        <br>
        <input type="text" id="category" name="category" value="{{poster['poster_category']}}"  readonly><br><br>

        <label for="description"><b>Description:</b></label>
        <br>
        <textarea id="description" name="description" readonly>{{poster['poster_description']}}</textarea>
    </div>
    {% endblock %}
    <br>
    <form method='post'>
        <label for="clarity">
            <br><b>Clarity:</b>
            How well does the poster communicate its ideas?
        </label>
        <select name="clarity" id="clarity" required>
            <option value="" disabled selected hidden>-</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>
        <br><br>
        <label for="organization">
            <b>Organization:</b>
            How well is the poster structured and organized?
        </label>
        <select name="organization" id="organization" required>
            <option value="" disabled selected hidden>-</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>
        <br><br>
        <label for="content">
            <b>Content:</b>
            How accurate is the information in the poster?
        </label>
        <select name="content" id="content" required>
            <option value="" disabled selected hidden>-</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>
        <br><br>
        <label for="relevance">
            <b>Relevance:</b>
            How relevant is the information in the poster to the poster's topic?
        </label>
        <select name="relevance" id="relevance" required>
            <option value="" disabled selected hidden>-</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>
        <br><br>
        <label for="visual appeal">
            <b>Visual Appeal:</b>
            How visually appealing is the poster?
        </label>
        <select name="visuals" id="visual appeal" required>
            <option value="" disabled selected hidden>-</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>
        <br>
        <a href="{{url_for('posters')}}">
            <button>
                SUBMIT FEEDBACK
            </button>
        </a>
    </form>

    <br>
    <!-- <img src="TestPoster.jpg" alt="THE CONTESTANT'S POSTER WILL GO HERE IN THIS BOX"> -->
    <!-- <img src="{{poster['poster_image']}}" alt="THE CONTESTANT'S POSTER WILL GO HERE IN THIS BOX"> -->
    <!-- <img src="/Team9/upload/demo.jpg" alt="THE CONTESTANT'S POSTER WILL GO HERE IN THIS BOX"> -->
    <img src="{{url_for('upload', filename='demo.jpg')}}" alt="THE CONTESTANT'S POSTER WILL GO HERE IN THIS BOX">
    <br>

</body>
</html>
