<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Posters To Judge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='PostersToJudge.css') }}">
</head>
<body>
    <a href="{{url_for('index')}}">
        <button>Logout</button>
    </a>
    <h1 class="title">Posters To Judge</h1>
    <div class="mainBox">
        {% block content %}
        {% for poster in all_posters %}
        <div class="flex-container">
            <p class="posterTitle">{{ poster['poster_title'] }}</p>
            <a href="{{url_for('rate_poster', posterID=poster['poster_id'])}}">
                <button class="judgeButton">Judge</button>
            </a> 
        </div>
        {% endfor %}
        {% endblock %}
    </div>
    <h1 class="posterCount">You have {{(count)}} total posters to judge!!!</h1>
</body>
</html>

