<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upload_poster.css') }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Upload the Poster!</title>
</head>
<body>
	<div class='logout'> 
		<a href="{{ url_for('index')}}">Logout</a>
	</div> 
	

	<main class="flex-container">
		
		<section class="main-content">
			<form method="POST" action="{{ url_for('upload_poster', userID=userID) }}" enctype="multipart/form-data">
				<div>
					<label for="title">Title:</label>
					<input type="text" id="title" name="title" placeholder="Enter the title">
				</div>
				
				<br>

				<div>
					<label for="groupEmail">Group member email(s):</label>
					<input type="text" id="groupEmail" name="group_email" placeholder="Enter the group member email(s)"> 
				</div>

				<br>

				<div>
					<label for="category">Category:</label>
					<input type="text" id="category" name="category" placeholder="Enter the category"> 
				</div>

				<br>

				<div class="wrap">
					<label for="description">Description:</label>
					<textarea id="description" onInput="this.parentNode.dataset.replicatedValue = this.value" name="description" placeholder="Poster design is a fun and creative way to add personality to any room. Our collection of posters is guaranteed to give your walls a touch of brilliance, and you'll be able to turn them into a gallery. "></textarea>
				</div>
		</section>

		<aside class="sidebar">
			<div id="display_image">
				</div>
				<input type="file" id="imageUpload" name="image" onchange="previewImage();">
				<div id="removeButton"></div>
				<div id="imagePreview"></div>

				<script>
					function previewImage() 
					{
						var preview = document.querySelector('#imagePreview');
						var file = document.querySelector('#imageUpload').files[0];
						var reader = new FileReader();

						reader.onloadend = function () 
						{
							var img = document.createElement('img');
							img.src = reader.result;
							preview.appendChild(img);
						}

						if (file) 
						{
							reader.readAsDataURL(file);
							document.getElementById('imageUpload').disabled = true;
							document.getElementById('removeButton').innerHTML = '<button type=\'button\' id=\'removeFile\' onclick=\"removeFile()\">Remove File</button>';
						} 
						else 
						{
							preview.innerHTML = "";
						}
					}

					function removeFile(){
						document.getElementById('imagePreview').innerHTML = "";
						document.getElementById('imageUpload').value = "";
						document.getElementById('imageUpload').disabled = false;
						document.getElementById('removeButton').innerHTML = "";
					}
				</script>

				<div class='submit'> 
					<button type="submit"> Submit </button> 
				</div> 
			</form>
			<div class="error_message">
				{% for msg in get_flashed_messages() %}
				<h4>{{ msg }}</h4>
				{%endfor%}
			</div>
		</aside>

	</main>

</body>
</html>


