<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Upload_poster.css') }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Upload the Poster!</title>
</head>
<body>
	<div class='logout'> 
		<button> Logout </button> 
	</div> 

	<main class="flex-container">
		
		<section class="main-content">
			<form>
				<div>
					<label for="title">Title:</label>
					<input type="text" id="title" placeholder="Enter the title">
				</div>
				
				<br>

				<div>
					<label for="groupEmail">Group member email(s):</label>
					<input type="text" id="groupEmail" placeholder="Enter the group member email(s)"> 
				</div>

				<br>

				<div>
					<label for="category">Category:</label>
					<input type="text" id="category" placeholder="Enter the category"> 
				</div>

				<br>

				<div class="wrap">
					<label for="description">Description:</label>
					<textarea name="text" id="description" onInput="this.parentNode.dataset.replicatedValue = this.value" placeholder="Poster design is a fun and creative way to add personality to any room. Our collection of posters is guaranteed to give your walls a touch of brilliance, and you'll be able to turn them into a gallery. "></textarea>
				</div>
			</form>
		</section>

		<aside class="sidebar">
			<div id="display_image">
			
			<form method="POST" action="{{ url_for('submit_poster') }}">
				</div>
				<input type="file" id="image" accept="image/png, image/jpg">
				<div class='submit'> 
					<button type="submit"> Submit </button> 
				</div> 
			</form>
			
		</aside>

	</main>

</body>
</html>

